In [170]:
# import pandas
import pandas as pd

In [171]:
# Import csv
df = pd.read_csv("Cricketdataset.csv")

In [172]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0
63,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
64,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11

In [173]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [174]:
# rename multiple columns in a list 

df=df.rename(columns = {'Mat' : 'Matchs' , 'NO' : 'Not_Out' , 'HS' : 'Highest_Inns_Score' , 'BF' : 'Balls_Faced' , 'SR' : 'Batting_Strike'})

In [175]:
df.head()

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11

In [176]:
# Check Null Values 

df.isnull().any()

Player                False
Span                  False
Matchs                False
Inns                  False
Not_Out               False
Runs                  False
Highest_Inns_Score    False
Ave                   False
Balls_Faced            True
Batting_Strike         True
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [177]:
df[df["Balls_Faced"].isna()==1]

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
45,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,NaN,54.02,25,46,15,1105,48
47,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,NaN,40.16,9,22,11,240+,11

In [178]:
df["Balls_Faced"]=df["Balls_Faced"].fillna(0)

In [179]:
df["Batting_Strike"]=df["Batting_Strike"].fillna(0)

In [180]:
df

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0
63,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
64,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11

In [181]:
df.isnull().any()

Player                False
Span                  False
Matchs                False
Inns                  False
Not_Out               False
Runs                  False
Highest_Inns_Score    False
Ave                   False
Balls_Faced           False
Batting_Strike        False
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [182]:
# Cheking nas in specified columm by calling Player name
df[df["Player"]=="FMM Worrell (WI)"]

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
47,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,0,40.16,9,22,11,240+,11

In [183]:
# drop duplicates
# Check duplicated
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63     True
64     True
Length: 65, dtype: bool

In [184]:
# getting duplicated rows 
df[df["Player"].duplicated()==1]

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
11,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
63,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
64,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11

In [185]:
df[df["Player"].isin(['E Paynter (ENG)' , 'CL Walcott (WI)'])]

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
7,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
11,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
63,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
64,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11

In [186]:
df = df.drop_duplicates()

In [187]:
df

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [188]:
# Split up spam into Start and End Date

In [189]:
df["Span"].str.split("-")

0     [1928, 1948]
1     [2023, 2024]
2     [2022, 2024]
3     [2015, 2016]
4     [1963, 1970]
          ...
58    [1965, 1981]
59    [2002, 2014]
60    [1924, 1934]
61    [1930, 1938]
62    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [190]:
df["Span"].str.split("-").str[0]

0     1928
1     2023
2     2022
3     2015
4     1963
      ...
58    1965
59    2002
60    1924
61    1930
62    1928
Name: Span, Length: 62, dtype: object

In [191]:
df["Rookie_Year"]=df["Span"].str.split("-").str[0]

C:\Users\Arunprakash Babu\AppData\Local\Temp\ipykernel_9356\3346374296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rookie_Year"]=df["Span"].str.split("-").str[0]

In [192]:
df["Final_Year"]=df["Span"].str.split("-").str[1]

C:\Users\Arunprakash Babu\AppData\Local\Temp\ipykernel_9356\401855648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Final_Year"]=df["Span"].str.split("-").str[1]

In [193]:
df

,Player,Span,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024
2,HC Brook (ENG),2022-2024,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [194]:
df = df.drop(columns = "Span")

In [195]:
df

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024
2,HC Brook (ENG),19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024
3,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
4,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
59,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
61,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
62,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [196]:
# Split Country from the Player

In [197]:
df["Player_Name"]=df["Player"].str.split("(").str[0]

In [198]:
df["Player_Country"]=df["Player"].str.split("(").str[1]

In [199]:
df

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year,Player_Name,Player_Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS)
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,YBK Jaiswal,IND)
2,HC Brook (ENG),19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,HC Brook,ENG)
3,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS)
4,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS)
59,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA)
60,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS)
61,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS)
62,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG)

In [200]:
df["Player_Country"]=df["Player_Country"].str.replace(")","")

In [201]:
df

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year,Player_Name,Player_Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,YBK Jaiswal,IND
2,HC Brook (ENG),19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,HC Brook,ENG
3,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
4,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS
59,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA
60,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS
61,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS
62,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG

In [236]:
df["Player"]=df["Player_Name"]

In [238]:
df

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year,Player_Name,Player_Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS
1,YBK Jaiswal,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,YBK Jaiswal,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,HC Brook,ENG
3,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA
60,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS
61,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS
62,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG

In [244]:
df = df.drop(columns = "Player_Name")

In [246]:
df

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year,Player_Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
60,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS
61,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
62,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG

In [248]:
# Change Data Type

In [254]:
df.dtypes

Player                 object
Matchs                  int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highest_Inns_Score     object
Ave                   float64
Balls_Faced            object
Batting_Strike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_Year            object
Final_Year             object
Player_Country         object
dtype: object

In [258]:
df["Highest_Inns_Score"] = df["Highest_Inns_Score"].str.replace("*","")

In [264]:
df["Highest_Inns_Score"]=df["Highest_Inns_Score"].astype('int')

In [266]:
df.dtypes

Player                 object
Matchs                  int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highest_Inns_Score      int32
Ave                   float64
Balls_Faced            object
Batting_Strike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_Year            object
Final_Year             object
Player_Country         object
dtype: object

In [274]:
# df["Rookie_Year"]=df["Rookie_Year"].astype('int')
# df["Final_Year"]=df["Final_Year"].astype('int')

# another way 
df = df.astype({"Rookie_Year" : "int" , "Final_Year" : "int" })

In [276]:
df.dtypes

Player                 object
Matchs                  int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highest_Inns_Score      int32
Ave                   float64
Balls_Faced            object
Batting_Strike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_Year             int32
Final_Year              int32
Player_Country         object
dtype: object

In [282]:
df.head()

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year,Player_Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA

In [284]:
df["Matchs"]

0      52
1      11
2      19
3      20
4      23
     ...
58     74
59    117
60     29
61     39
62     22
Name: Matchs, Length: 62, dtype: int64

In [286]:
df.isnull().any()

Player                False
Matchs                False
Inns                  False
Not_Out               False
Runs                  False
Highest_Inns_Score    False
Ave                   False
Balls_Faced           False
Batting_Strike        False
100                   False
50                    False
0                     False
4s                    False
6s                    False
Rookie_Year           False
Final_Year            False
Player_Country        False
dtype: bool

In [292]:
df.dtypes

Player                 object
Matchs                  int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highest_Inns_Score      int32
Ave                   float64
Balls_Faced            object
Batting_Strike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_Year             int32
Final_Year              int32
Player_Country         object
dtype: object

In [294]:
# Find Career length and make as columm 
df["Career_length"]=df["Final_Year"]-df["Rookie_Year"]

In [296]:
df

,Player,Matchs,Inns,Not_Out,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike,100,50,0,4s,6s,Rookie_Year,Final_Year,Player_Country,Career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS,20
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND,1
2,HC Brook,19,31,1,1875,317,62.50,2117,88.56,6,9,1,210,29,2022,2024,ENG,2
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS,16
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
60,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS,10
61,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS,8
62,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG,6

In [298]:
df.dtypes

Player                 object
Matchs                  int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highest_Inns_Score      int32
Ave                   float64
Balls_Faced            object
Batting_Strike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_Year             int32
Final_Year              int32
Player_Country         object
Career_length           int32
dtype: object

In [300]:
# Calculas in df
# Averrage crickter's Career length 
df["Career_length"].mean()

12.85483870967742

In [324]:
# Avg Batting_Strike for cricketers who played more than 10 yers 
df[df["Career_length"] > 10]["Batting_Strike"].mean()

46.8493023255814

In [356]:
# Find number of cricketers played before 1960
df[df["Rookie_Year"] < 1960]["Player"].count()

22

In [400]:
# Max Highest inns score by country
df.groupby("Player_Country")["Highest_Inns_Score"].max().to_frame("Highinncount").sort_values("Highinncount",ascending=False).reset_index()

   Player_Country  Highinncount
0          ICC/WI           400
1             AUS           380
2              SL           374
3             ENG           364
4         ICC/PAK           329
5         ICC/IND           319
6             PAK           313
7              WI           291
8              SA           278
9          ICC/SA           277
10            IND           254
11             NZ           251
12            ZIM           232